body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.full-page-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.full-page-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assurez-vous que l'image couvre toute la page */
}